.red {
    color: red;
    background-color: white;
    border: 1px solid red;
}

.red:hover {
    color: white;
    background-color: red;
}

.ok {
    color: #f49121;
    background-color: white;
    border: 1px solid #f49121;
}

.ok:hover {
    color: white;
    background-color: #f49121;
}