.main {
    background-color: #eee !important;

    .center-horizontal-vertical {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-card {
        position: absolute;
        width: 450px;
        display: flex;
        align-items: center;
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    .mat-footer {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            margin-top: 20px;
            background-color: #f49121;
            color: white;
        }
    }
}
