.wrapper {
    text-align: center;

    img {
        width: 120px;
        margin-bottom: 25px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-top: 15px;

            button {
                text-align: left;
                height: 50px;
                width: 70%;
                background-color: transparent;
                border-radius: 5px;
                padding-left: 20px;
                border: 1px solid #f49121;

                .menu-icon {
                    vertical-align: middle;
                    font-size: 1.3em;
                }
            }

            button:hover, .router-link-active {
                background-color: #f49121;
                color: white;
            }
        }
    }
}