<div class="container">
  <div class="row">
    <div class="col-md-3">
      <home-card [total]="countLegalPeople" title="Legal People" icon="group"></home-card>
    </div>
    <div class="col-md-3">
      <home-card [total]="countPhysicalPeople" title="Physical People" icon="group"></home-card>
    </div>
    <div class="col-md-3">
      <home-card [total]="countDepartments" title="Departments" icon="lists"></home-card>
    </div>
    <div class="col-md-3">
      <home-card [total]="countUsers" title="Users" icon="group"></home-card>
    </div>
  </div>
</div>
<button (click)="logout()">logout</button>