<div class="container">
    <h2>Edit user</h2>
    <div class="center-horizontal-vertical">
      <form (ngSubmit)="editUser()" [formGroup]="editUserForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label> 
          <input matInput formControlName="email" placeholder="email@elshaday.com" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nick Name</mat-label> 
          <input matInput formControlName="nickName" placeholder="Nick" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label> 
          <mat-select formControlName="role" required>
            <mat-option value="1">Administrator</mat-option>
            <mat-option value="2">Common</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="active" (click)="toggleActive(!user.active)" class="mb-20">{{user.active ? 'Active' : 'Inactive'}}</mat-slide-toggle>
        <button mat-flat-button class="submit-btn" type="submit">Edit</button>
      </form>
    </div>
  </div>