.card {
    min-height: 120px;
    padding: 10px 10px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .icon {
            font-size: 1.3em;
        }
        
        a {
            color: #000;
        }

        a:hover {
            color: #f49121;
        }
    }
    
    .content {
        margin-top: auto;
        p {
            font-size: 3em;
            text-align: end;
        }
    }    
}