/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    padding: 0 5%;
}

.w-100 {
    width: 100%;
}

.mb-20 {
    margin-bottom: 20px;
}